body {
 /*  padding-top: 20px;
  padding-bottom: 20px; */
  /*  background-image: url("/image/piano-logo.jpg");*/
/*   //opacity: 0.2;  */
/* background-color: #f46b42 */
font-family: 'Noto Serif TC', serif;
}

.container {
	width: 90%;
}
